NEXT_PUBLIC_SITE_URL=https://dr-mario-teal.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BASE_APP_ID=
NEXT_PUBLIC_BUILDER_CODE=bc_j6s74co1
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0x35d3E1Ae8042E41c2f20e7D91ff9e5bFDaB1658F
